body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(108, 186, 255);
}

h1,
input,
button,
p {
  color: #fff;
}

p {
  margin: 0;
}

input,
button {
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid #fff;
  padding: 8px;
  margin: 8px;
}

input {
  padding: 8px;
  margin: 8px;
  outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.643);
}

button {
  margin: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.todoList {
  margin: 0 auto;
  max-width: 20vw;
}

.todo {
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 8px 2px;
  margin: 12px 0;
}

.todo-text {
  color: #fff;
}

.todo-delete {
  color: #fff;
  float: right;
  padding: 0 7px;
  font-weight: 700;
  cursor: pointer;
}
