body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

input,
p {
  color: #000;
}

p {
  margin: 0;
}

input {
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid #000;
  padding: 8px;
  margin: 8px;
}

input {
  padding: 8px;
  margin: 8px;
  outline: none;
}

input::placeholder {
  color: rgb(84, 84, 84);
}

.todoList {
  margin: 0 auto;
  max-width: 20vw;
}

.todo {
  border: 2px solid #000;
  border-radius: 6px;
  padding: 8px 2px;
  margin: 12px 0;
}

.todo-text {
  color: #000;
}

.todo-delete {
  color: #000;
  float: right;
  padding: 0 7px;
  font-weight: 700;
  cursor: pointer;
}
